.SkillStack {
    padding: 60px 0;
    background-image: url("codeBackground.jpg");
    width: 100%;
    color: white;
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icons {
    font-size: 50px;
    position: relative;
}

.circle {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 50%;
}
