.ListItem {
    margin-bottom: 30px;
    transition: 0.3s  ease-in-out;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    border-radius: 10px;
    .years {
        font-weight: 700;
        font-style: italic;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.178);
        border-radius: 10px;

    }

}
.activeItem{
    background-color: rgba(128, 128, 128, 0.178);
    border-radius: 10px;
}