.DetailedInfo{
    .imageContainer{
        
        border-radius: 50%;
        width: 400px;
        height: 400px;
        object-fit: cover;

    }

    .headerContainer{
        margin: 0 auto;
    }

    .padding100{
        padding-left: 100px;
    }
}