.DetailedInfo{
    background-color: rgba(128, 128, 128, 0.178);
    .imageContainer{
        
        border-radius: 50%;
        width: 400px;
        height: 400px;
        object-fit: cover;

    }

    .headerContainer{
        margin: 0 auto;
    }


}