.EducationAndExperience{
    padding: 60px 0;
    .fit-content{
        width: fit-content;
    }
    .ListItem{
        padding-top: 30px;
    }
    .content-fit{
        width: fit-content
    }
    .horCenter{
        margin: 0 auto;;
    }
}