.EducationAndExperience{
    padding: 60px 0;
    .fit-content{
        width: fit-content;
    }
    .ListItem, .HeaderComp{
        padding: 20px;
    }
  
    .content-fit{
        width: fit-content
    }
    .horCenter{
        margin: 0 auto;;
    }
}