.EducationAndExperience{

    background-color: black;
    padding: 60px 0;
    // background-image: url("codeBackground.jpg");
    width: 100%;
    color: white;
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 60px 0;
    .fit-content{
        width: fit-content;
    }
    .ListItem, .HeaderComp{
        padding: 20px;
    }
  
    .content-fit{
        width: fit-content
    }
    .horCenter{
        margin: 0 auto;;
    }
}