.AboutMe {
    padding: 60px 0;
    background-image: url("sailing.jpg");
    width: 100%;
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutMeBox {
    margin: 0 auto;
    background-color: #f1f1f1;

 
}

img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    min-height: 530px;
}

.textContainer{
    padding: 50px 30px 50px 30px !important;
}
